.bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url(images/pattern.png) repeat top left;
	z-index:1;
}

.imagem{
	z-index:0;
	position: fixed;
	top: 0px;
	left: 0px;
}

.map{
	width:500px;
	height:700px;
	z-index:2;
	margin-left: auto;
	margin-right: auto;	
}
